nav {
  padding-left: 60px;
  padding-right: 60px;
  background-color: gray;
  width: 100%;
  text-align: left;
  position: fixed;
  height: 60px;
}

ul li {
  display: inline-block;
  position: relative;
  left: 120px;
}

.logo {
  position: absolute;
  left: 80px;
  top: 5px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid black;
}

.green-box {
  width: 600px;
  height: 300px;
  border: 10px dotted green;
  position: relative;
  bottom: 500px;
  margin-right: auto;
  margin-left: auto;
}

.cat-pic {
  height: 200px;
  width: 200px;
  position: absolute;
  left: -100px;
  top: -100px;
}

.dog-pic {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 500px;
  top: 200px;
}











/*nav {
  background-color: gray;
  height: 60px;
  position: relative;
  text-align: right;
}

nav img {
  padding-left: 10px;
}

nav ul {
  text-align: right;
}*/



.green-box {
  width: 600px;
  height: 300px;
  border: 10px dotted green;
}
